<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
  <form action="/team" method="post">
  <p>Team Name:<input name="team[name]" /></p>
  <p>Coach:<input name="team[coach]" /></p>
  <p>Point Guard:<input name="team[pg]" /></p>
  <p>Shooting Guard:<input name="team[sg]" /></p>
  <p>Power Foward:<input name="team[pf]" /></p>
  <p>Small Foward:<input name="team[sf]" /></p>
  <p>Center:<input name="team[c]" /></p>
  <p><button>Submit</button></p>
</form>
 </body>
</html>

